body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: whitesmoke;
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: 1px;
  border-radius: 100%;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
}
.square:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.square:focus {
  outline: none;
}

.square.red {
  color: red;
}

.square.blue {
  color: blue;
}

.square-highlight {
  color: rgb(245, 161, 155);
  background-color: rgb(164, 245, 245);
  font-weight: bold;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.highlight {
  background-color: rgb(194, 33, 73);
  font-weight: bold;
}

.flex-nav {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.move {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  max-height: 200px;
  overflow: auto;
}
